<div cg-busy="{promise:vm.queryPromise,message:'Loading',backdrop:true,minDuration:1000}">
<div class="row-fluid">

  <div class="row products" style="margin-left: 150px; margin-right: 100px;margin-bottom: 100px;">
    <div class="col-md-5 col-sm-5"  >
      <div class="product" align="center">
        <div class="flip-container" >
          <div class="flipper" ng-repeat="image in vm.product.images" align="center">
            <img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnail">
          </div>
        </div>
      </div><!-- end product -->
    </div>

    <div class="text">
      <h3>{{vm.product.name}}</h3>
      <p class="price">{{vm.product.description}}</p>
      <p class="price"><strong>Price</strong>: {{vm.product.netPrice | number}} Bath</p>
      <p class="price" ng-show="hasRole('Wholesale customer')"><strong>Wholesale Price</strong>:{{vm.product.wholesalePrice | number}} Bath</p>

    </div><!-- end text -->
    <button class="btn btn-primary" ng-show="hasRole('Retail customer')">
      <i class="fa fa-shopping-cart"></i><span aria-hidden="true" ng-click="vm.addToCart(product)" translate>btn.cart</span>
    </button>
    <button class="btn btn-primary" ng-show="hasRole('Wholesale customer')">
      <i class="fa fa-shopping-cart"></i><span aria-hidden="true" ng-click="vm.addToCart(product)" translate>btn.cart</span>
    </button>
    <!--<a><span aria-hidden="true" ng-click="vm.addToCart(product)">addProduct</span></a>-->
  </div>

</div>
</div>
