<div class="container">
  <div class="col-md-6 offer"></div>
  <div class="col-md-6">
    <ul class="menu">
      <li><a href="#" data-toggle="modal" data-target="#login-modal" ng-hide="user">เข้าสู่ระบบ</a>
        <a href="" ng-show="user">{{ user.name }}</a>
      </li>
      <li ng-hide="user"><a href="register.html" translate>สมัครสมาชิก</a></li>
      <li ng-show="user">
        <a href="" ng-click="logout()" translate>ออกจากระบบ</a>
      </li>
      <li ng-class="{'active':currentLocale== 'en'}"><a href="" ng-click="changeLanguage('en')">EN </a></li>
      <li><a href="#">TH </a></li>
    </ul>
  </div>
</div>


<!-- *** Login *** -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true"
     ng-controller="LoginController as login" ng-hide="user">
  <div class="modal-dialog modal-sm">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="Login" translate>เข้าสู่ระบบ</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="username" ng-model="login.username" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <input id="password" ng-model="login.password" type="password" class="form-control"/>
          </div>

          <p class="text-center">
            <button class="btn btn-primary" type="submit" ng-click="login.login()" translate><i class="fa fa-sign-in"></i>
              เข้าสู่ระบบ
            </button>
          </p>

          <div class="checkbox">
            <p class="text-center">
              <input type="checkbox" ng-model=" login.rememberMe"/> Remember me
            </p>
          </div>
        </form>


      </div>
    </div>
  </div>
</div> <!-- *** End Login *** -->
