<div class="container">
  <div class="box">
    <div class="panel-heading">
      <div class="alert alert-success alert-dismissible" role="alert" ng-show="cartUpdateSuccess">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <strong>เรียบร้อย!</strong>
      </div>
    </div>
    <div class="panel-body row">
      <div class="col-md-2"></div>
      <form name="editform" novalidate>
        <div class="form-group col-md-8">
          <!-- Table -->
          <table class="table table-hover">
            <thead>
            <tr>
              <th></th>
              <th translate >listProduct.name</th>
              <th class="text-center" translate width="100px">listProduct.amount</th>
              <th class="text-center" translate>listProduct.pricePerUnit</th>
              <th class="text-center" translate>listProduct.netPrice</th>
              <th class="text-center" translate></th>
            </tr>
            </thead>
            <tr ng-repeat="selectedProduct in vm.cart.selectedProducts">
              <td>{{$index+1}}</td>
              <td>{{selectedProduct.product.name}}</td>
              <td width="100px"><input ng-model="selectedProduct.amount" class="form-control text-right" id="selectedproductamount"
                         placeholder="amount" name="productdescription" required/></td>
              <td class="text-center">{{selectedProduct.product.netPrice | number:2}}</td>
              <td class="text-center">{{vm.totalEach($index) |number:2}}</td>
              <td class="text-center">
                <button class="btn btn-primary">
                  <span aria-hidden="true" ng-click="vm.removeProduct($index)" class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
            <tr>
              <th></th>
              <th translate >รวม</th>
              <th class="text-right">{{vm.total() | number :2}}</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          </table>
          <div class="panel-body text-center">
            <a href ng_click="vm.updateCart()" class="btn btn-primary "  translate>btn.update</a>
            <a href ng_click="vm.saveCart(vm.cart)" class="btn btn-primary "  translate>btn.save</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
